
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;


        .main-container-lldtp {
            width: 100vw;
            height: 100vh;
            background-color: #0A0A0A;
            box-sizing: border-box;
            padding: 2.1rem;

            .bracket-wrapper-lldtp {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 99%;
                border: 3px solid #F5F5F5;

                &::after {
                    content: "";
                    position: absolute;
                    top: -3px;
                    width: 60%;
                    height: 5px;
                    background-color: #0A0A0A;
                    @media(min-width: 720px) {
                        width: 80%;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    bottom: -3px;
                    width: 60%;
                    height: 5px;
                    background-color: #0A0A0A;
                    @media(min-width: 720px) {
                        width: 80%;
                    }
                }

                .submain-container-lldtp {
                    position: relative;
                    z-index: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 4.3vh;

                    .photo-name-container-lldtp {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 18px;

                        .photo-container-lldtp {
                            width: 9rem;
                            @media(min-width: 720px) {
                                width: 13rem;
                            }
                            img {
                                width: 100%;
                                object-fit: cover;
                                height: 100%;
                            }
                        }

                        .name-subname-container-lldtp {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 2px;
                            font-family: 'Google Sans Code', monospace;
                            text-align: center;

                            .name-lldtp {
                                color: #F5F5F5;
                                font-size: 2.5vh;
                                line-height: 150%;
                            }

                            .subname-lldtp {
                            color: #919599;
                                font-size: 1.75vh; 
                                text-underline-offset: 4px;
                                line-height: 150%;
                            }
                        }
                    }

                    .links-container-lldtp {
                        display: flex;
                        flex-direction: column;
                        gap: 18px;

                        .button-lldtp {
                            color: #0A0A0A;
                            background-color: #F5F5F5;
                            padding: 1.25vh 2.7vh;
                            font-family: 'Google Sans Code', monospace;
                            line-height: 150%;
                            font-size: 2vh;
                            border: none;
                            @media(min-width: 720px) {
                                padding: 1.25vh 8vh;
                            }

                            &:hover {
                                background-color: #919599; 
                                color: #F5F5F5;
                                cursor: pointer;
                                text-decoration: underline;
                                text-decoration-thickness: 2px;
                                text-underline-offset: 4px;
                            }

                            &:active {
                                color: #F5F5F5;
                                background-color: #0A0A0A;
                                text-decoration: underline;
                                text-decoration-thickness: 1px;
                            }
                        }
                    }

                    
                }

                .link-instagram-lldtp {
                    position: absolute;
                    bottom: -8px;
                    font-family: 'Google Sans Code', monospace;
                    color: #919599;
                    font-size: 1.2vh; 
                    text-underline-offset: 4px;
                    line-height: 150%;
                }
            }  
        }
     }